#health{
  width: 60px;
  height: 60px;
  color: rgb(255, 0, 55);
  border: 4px solid rgb(255, 0, 55);
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}