#search{
  background-color: black;
  padding: 16px;
}

#search input{
  border: none;
  margin: 0 0 0 8px;
  border: 2px solid white;
  border-radius: 16px 0 0 16px;
}

#search button{
  background-color: black;
  border: 2px solid white;
  border-radius: 0 16px 16px 0;
  color: white;
  transition-duration: 0.3s;
}

#search button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

#search label{
  display: block;
  margin-bottom: 0.3em;
}